.theme-button {
  width: 40px;
  height: 40px;
  border-color: var(--button-border-color);
  background-color: var(--button-bg-color);
}

.theme-button:hover {
  opacity: 0.8;
}

.theme-button:focus {
  outline: none;
}

.theme-button svg {
  width: 20px;
}

.theme-button svg path {
  fill: var(--button-icon-color);
}
