.world-map svg {
  stroke: var(--map-border-color);
}

.world-map svg path {
  fill: var(--map-color);
  cursor: pointer;
  outline: none;
}

.world-map svg path:hover {
  opacity: 0.8;
}

.world-map svg path:focus, .world-map svg path[aria-current="true"] {
  fill: var(--primary-color);
}