:root {
  --primary-color: #20a8d8;
}

body {
  background-color: #e4e5e6;
}

a {
  color: var(--primary-color);
}

svg {
  stroke: #fff;
}

svg path {
  fill: #333;
  cursor: pointer;
  outline: none;
}

svg path:hover {
  opacity: 0.8;
}

svg path:focus, svg path[aria-current="true"] {
  fill: var(--primary-color);
}

.text-primary {
  color: var(--primary-color)!important;
}